.App {
  text-align: center;
  position: fixed;
  display: block;
}

.footer {
  background-color: #c3dada;
/*   position: inherit; */
  width: 100%;
  bottom: 0;
  left: 0;
  color: rgb(8, 8, 8);
  font-size: 18px;
  text-align: center;
}

.footer h2{
  color:rgb(252, 252, 252);
  text-decoration-color: #f3f6f9;
  font-family: cursive;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}